# ç»¼åˆç»ƒä¹ ä¸€

In [356]:
import numpy as np
import pandas as pd
df1=pd.read_csv('D:\datawhale\joyful-pandas\data\exercise\company.csv')
df2=pd.read_csv('D:\datawhale\joyful-pandas\data\exercise\company_data.csv')

In [357]:
df1['è¯åˆ¸ä»£ç ']=df1['è¯åˆ¸ä»£ç '].apply(lambda x:x.strip('#').lstrip('0'))
df1.head()

  è¯åˆ¸ä»£ç     æ—¥æœŸ
0    7  2014
1  403  2015
2  408  2016
3  408  2017
4  426  2015

In [358]:
df2['å¹´ä»½']=df2['æ—¥æœŸ'].str.split('/').apply(lambda x:int(x[0]))
df2.set_index(['è¯åˆ¸ä»£ç ','å¹´ä»½']).head(3)

                   æ—¥æœŸ  æ”¶å…¥ç±»å‹           æ”¶å…¥é¢
è¯åˆ¸ä»£ç  å¹´ä»½
1    2008  2008/12/31     1  1.084218e+10
     2008  2008/12/31     2  1.259789e+10
     2008  2008/12/31     3  1.451312e+10

In [359]:
import warnings
warnings.filterwarnings('ignore')

res=np.full((len(df1['è¯åˆ¸ä»£ç ']),1),np.nan)
for i in range(len(df1['è¯åˆ¸ä»£ç '])):
    h=df1['è¯åˆ¸ä»£ç '].loc[i]
    y=df1['æ—¥æœŸ'].loc[i]
    ind=df2.query("è¯åˆ¸ä»£ç ==@h & å¹´ä»½==@y").index
    temp=df2.loc[ind.tolist()]
    temp2=temp[temp['æ”¶å…¥é¢']!=0]
    all_=temp2.loc[:,'æ”¶å…¥é¢'].sum(axis=0)
    temp2.loc[:,'æ”¶å…¥æ¯”é‡']=temp2.loc[:,'æ”¶å…¥é¢']/all_
    temp2['æ”¶å…¥ç†µ']=-temp2['æ”¶å…¥æ¯”é‡']*np.log10(temp2['æ”¶å…¥æ¯”é‡'])
    res[i]=temp2['æ”¶å…¥ç†µ'].sum()
    
print(res)

[[1.33348471]
 [1.21193566]
 [1.22407682]
 ...
 [1.30836766]
 [1.31207184]
 [0.        ]]

In [360]:
df1['æ”¶å…¥ç†µ']=res
df1.head()

  è¯åˆ¸ä»£ç     æ—¥æœŸ       æ”¶å…¥ç†µ
0    7  2014  1.333485
1  403  2015  1.211936
2  408  2016  1.224077
3  408  2017  0.000000
4  426  2015  1.339480

# ç»¼åˆç»ƒä¹ äºŒ

In [361]:
df1=pd.read_excel('D:\datawhale\joyful-pandas\data\exercise\ç»„é˜Ÿä¿¡æ¯æ±‡æ€»è¡¨ï¼ˆPandasï¼‰.xlsx')

In [362]:
columns1=['æ‰€åœ¨ç¾¤','é˜Ÿä¼åç§°','ç¼–å·_1','1']
columns2=['ç¼–å·_'+str(i)+'-'+str(i) for i in range(2,12)]
columns2=sum([columns2[i].split('-') for i in range(10)],[])
columns1.extend(columns2)
df1.columns=columns1
df1.head(1)

,æ‰€åœ¨ç¾¤,é˜Ÿä¼åç§°,ç¼–å·_1,1,ç¼–å·_2,2,ç¼–å·_3,3,ç¼–å·_4,4,...,ç¼–å·_7,7,ç¼–å·_8,8,ç¼–å·_9,9,ç¼–å·_10,10,ç¼–å·_11,11
0,Pandasæ•°æ®åˆ†æ,ä½ è¯´çš„éƒ½å¯¹é˜Ÿ,5,å±±æ«å¶çº·é£,6,è”¡,7.0,å®‰æ…•å¸Œ,8.0,ä¿¡ä»°,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [363]:
res=pd.wide_to_long(df1,stubnames='ç¼–å·',i=['é˜Ÿä¼åç§°','æ‰€åœ¨ç¾¤'],j='æ˜¯å¦é˜Ÿé•¿',sep='_',suffix='.+').reset_index()
res2=res[~np.isnan(res['ç¼–å·'])]
res2.index=[i for i in range(res2.shape[0])]
res2.head(3)

,é˜Ÿä¼åç§°,æ‰€åœ¨ç¾¤,æ˜¯å¦é˜Ÿé•¿,8,4,10,2,7,9,5,6,3,11,1,ç¼–å·
0,ä½ è¯´çš„éƒ½å¯¹é˜Ÿ,Pandasæ•°æ®åˆ†æ,1,NaN,ä¿¡ä»°,NaN,è”¡,NaN,NaN,biubiuğŸ™ˆğŸ™ˆ,NaN,å®‰æ…•å¸Œ,NaN,å±±æ«å¶çº·é£,5.0
1,ä½ è¯´çš„éƒ½å¯¹é˜Ÿ,Pandasæ•°æ®åˆ†æ,2,NaN,ä¿¡ä»°,NaN,è”¡,NaN,NaN,biubiuğŸ™ˆğŸ™ˆ,NaN,å®‰æ…•å¸Œ,NaN,å±±æ«å¶çº·é£,6.0
2,ä½ è¯´çš„éƒ½å¯¹é˜Ÿ,Pandasæ•°æ®åˆ†æ,3,NaN,ä¿¡ä»°,NaN,è”¡,NaN,NaN,biubiuğŸ™ˆğŸ™ˆ,NaN,å®‰æ…•å¸Œ,NaN,å±±æ«å¶çº·é£,7.0

In [364]:
temp=res2.iloc[:,2:-1]
for i in range(res2.shape[0]):
    tempi=temp.iloc[i]
    tn=temp[str(temp['æ˜¯å¦é˜Ÿé•¿'].iloc[i])][i]
    temp.loc[i,:]=tempi.mask(tempi!=tn,'NaN')
    
temp.head(3)

  æ˜¯å¦é˜Ÿé•¿    8    4   10    2    7    9    5    6     3   11       1
0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN  å±±æ«å¶çº·é£
1  NaN  NaN  NaN  NaN   è”¡   NaN  NaN  NaN  NaN   NaN  NaN     NaN
2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  å®‰æ…•å¸Œ   NaN     NaN

In [365]:
res2.iloc[:,3:-1]=temp.iloc[:,1::]
res2.head(3)

,é˜Ÿä¼åç§°,æ‰€åœ¨ç¾¤,æ˜¯å¦é˜Ÿé•¿,8,4,10,2,7,9,5,6,3,11,1,ç¼–å·
0,ä½ è¯´çš„éƒ½å¯¹é˜Ÿ,Pandasæ•°æ®åˆ†æ,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,å±±æ«å¶çº·é£,5.0
1,ä½ è¯´çš„éƒ½å¯¹é˜Ÿ,Pandasæ•°æ®åˆ†æ,2,NaN,NaN,NaN,è”¡,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0
2,ä½ è¯´çš„éƒ½å¯¹é˜Ÿ,Pandasæ•°æ®åˆ†æ,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,å®‰æ…•å¸Œ,NaN,NaN,7.0

In [373]:
columns1=['é˜Ÿä¼åç§°','æ‰€åœ¨ç¾¤','æ˜¯å¦é˜Ÿé•¿']
columns2=['ç¾¤æ˜µç§°_'+str(i) for i in range(1,12)]
columns1.extend(columns2)
columns1.extend(['ç¼–å·'])
res2.columns=columns1
res2.head(3)

,é˜Ÿä¼åç§°,æ‰€åœ¨ç¾¤,æ˜¯å¦é˜Ÿé•¿,ç¾¤æ˜µç§°_1,ç¾¤æ˜µç§°_2,ç¾¤æ˜µç§°_3,ç¾¤æ˜µç§°_4,ç¾¤æ˜µç§°_5,ç¾¤æ˜µç§°_6,ç¾¤æ˜µç§°_7,ç¾¤æ˜µç§°_8,ç¾¤æ˜µç§°_9,ç¾¤æ˜µç§°_10,ç¾¤æ˜µç§°_11,ç¼–å·
0,ä½ è¯´çš„éƒ½å¯¹é˜Ÿ,Pandasæ•°æ®åˆ†æ,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,å±±æ«å¶çº·é£,5.0
1,ä½ è¯´çš„éƒ½å¯¹é˜Ÿ,Pandasæ•°æ®åˆ†æ,2,NaN,NaN,NaN,è”¡,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0
2,ä½ è¯´çš„éƒ½å¯¹é˜Ÿ,Pandasæ•°æ®åˆ†æ,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,å®‰æ…•å¸Œ,NaN,NaN,7.0

In [375]:
res3=pd.wide_to_long(res2,stubnames='ç¾¤æ˜µç§°',i=['é˜Ÿä¼åç§°','æ‰€åœ¨ç¾¤','æ˜¯å¦é˜Ÿé•¿'],j='æ˜µç§°',sep='_',suffix='.+').reset_index()
res4=res3[res3['ç¾¤æ˜µç§°']!='NaN'].drop(columns=['æ‰€åœ¨ç¾¤','æ˜µç§°'])
res4['æ˜¯å¦é˜Ÿé•¿']=res4['æ˜¯å¦é˜Ÿé•¿'].mask(res4['æ˜¯å¦é˜Ÿé•¿']!=1,0)
res4.index=[i for i in range(res4.shape[0])]
res4=res4.reindex(columns=['æ˜¯å¦é˜Ÿé•¿','é˜Ÿä¼åç§°','ç¾¤æ˜µç§°','ç¼–å·'])
res4.head(3)

   æ˜¯å¦é˜Ÿé•¿    é˜Ÿä¼åç§°     ç¾¤æ˜µç§°   ç¼–å·
0     1  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ  å±±æ«å¶çº·é£   5.0
1     0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ      è”¡   6.0
2     0  ä½ è¯´çš„éƒ½å¯¹é˜Ÿ    å®‰æ…•å¸Œ   7.0

# ç»¼åˆç»ƒä¹ ä¸‰

- æœ‰å¤šå°‘å¿æ»¡è¶³æ€»æŠ•ç¥¨æ•°è¶…è¿‡å¿äººå£æ•°çš„ä¸€åŠ

In [435]:
df1=pd.read_csv('D:\datawhale\joyful-pandas\data\exercise\county_population.csv')
df2=pd.read_csv('D:\datawhale\joyful-pandas\data\exercise\president_county_candidate.csv')

In [437]:
df1.head(3)

                  US County  Population
0  .Autauga County, Alabama       55869
1  .Baldwin County, Alabama      223234
2  .Barbour County, Alabama       24686

In [439]:
df1.shape

(3142, 2)

In [440]:
df1['US County']=df1['US County'].apply(lambda x:x.strip('.'))#å–å‡ºå‰é¢çš„å°ç‚¹ç‚¹
df1['county']=df1['US County'].map(lambda x:x.split(',')[0])
df1['state']=df1['US County'].map(lambda x:x.split(',')[1])
df1.head(3)

                 US County  Population          county     state
0  Autauga County, Alabama       55869  Autauga County   Alabama
1  Baldwin County, Alabama      223234  Baldwin County   Alabama
2  Barbour County, Alabama       24686  Barbour County   Alabama

In [444]:
tv=df2.groupby('county')['total_votes'].sum().reset_index()
res=df1.merge(tv,on=['county'],how='left')
res[res['total_votes']>(res['Population']/2)].shape[0]

2292

æœ‰2292ä¸ªå¿æ»¡è¶³æ€»æŠ•ç¥¨æ•°è¶…è¿‡å¿äººå£æ•°çš„ä¸€åŠ

- æŠŠå·ï¼ˆstateï¼‰ä½œä¸ºè¡Œç´¢å¼•ï¼ŒæŠŠæŠ•ç¥¨å€™é€‰äººä½œä¸ºåˆ—åï¼Œåˆ—åçš„é¡ºåºæŒ‰ç…§å€™é€‰äººåœ¨å…¨ç¾çš„æ€»ç¥¨æ•°ç”±é«˜åˆ°ä½æ’åºï¼Œè¡Œåˆ—å¯¹åº”çš„å…ƒç´ ä¸ºè¯¥å€™é€‰äººåœ¨è¯¥å·è·å¾—çš„æ€»ç¥¨æ•°

In [462]:
res=df2.pivot_table(index='state', columns='candidate', values='total_votes',aggfunc='sum')
columns=res.sum(0).sort_values(ascending=False).index
res=res.reindex(columns=columns.tolist())
res.head(3)

candidate,Joe Biden,Donald Trump,Jo Jorgensen,Howie Hawkins,Write-ins,Rocky De La Fuente,Gloria La Riva,Kanye West,Don Blankenship,Brock Pierce,...,Tom Hoefling,Ricki Sue King,Princess Jacob-Fambro,Blake Huber,Richard Duncan,Joseph Kishore,Jordan Scott,Gary Swing,Keith McCormic,Zachary Scalf
state,,,,,,,,,,,,,,,,,,,,,
Alabama,849648.0,1441168.0,25176.0,NaN,7312.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alaska,153405.0,189892.0,8896.0,NaN,34210.0,318.0,NaN,NaN,1127.0,825.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Arizona,1672143.0,1661686.0,51465.0,NaN,2032.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- æ¯ä¸€ä¸ªå·ä¸‹è®¾è‹¥å¹²å¿ï¼Œå®šä¹‰æ‹œç™»åœ¨è¯¥å¿çš„å¾—ç¥¨ç‡å‡å»å·æ™®åœ¨è¯¥å¿çš„å¾—ç¥¨ç‡ä¸ºè¯¥å¿çš„BTæŒ‡æ ‡ï¼Œè‹¥æŸä¸ªå·æ‰€æœ‰å¿BTæŒ‡æ ‡çš„ä¸­ä½æ•°å¤§äº0ï¼Œåˆ™ç§°è¯¥å·ä¸ºBiden Stateï¼Œè¯·æ‰¾å‡ºæ‰€æœ‰çš„Biden State

In [465]:
df2.head()

      state             county      candidate party  total_votes    won
0  Delaware        Kent County      Joe Biden   DEM        44552   True
1  Delaware        Kent County   Donald Trump   REP        41009  False
2  Delaware        Kent County   Jo Jorgensen   LIB         1044  False
3  Delaware        Kent County  Howie Hawkins   GRN          420  False
4  Delaware  New Castle County      Joe Biden   DEM       195034   True

In [524]:
res2=df2.pivot_table(index='county', columns='candidate', values='total_votes',aggfunc='sum')
res2['BT']=res2['Joe Biden']-res2['Donald Trump']
res2=res2.reset_index()
res_temp=res2.iloc[:,[0,-1]]#å–å‡ºcountyä¸BTæ•°ä¸¢å›å»
res3=df2.merge(res_temp,on=['county'],how='left')
res4=res3.drop_duplicates(['state','county'],keep='first')#åˆ é™¤å†—ä½™çš„è¡Œ
final=res4.groupby('state')['BT'].median()
final[np.where(final>0)[0].tolist()].index

Index(['California', 'Connecticut', 'Delaware', 'District of Columbia',
       'Hawaii', 'Massachusetts', 'New Hampshire', 'New Jersey',
       'Rhode Island', 'Vermont'],
      dtype='object', name='state')